*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,span{
  text-decoration: none;
  //-webkit-tap-highlight-color:transparent;
  -webkit-tap-highlight-color: transparent;
}
ul,ol{
  list-style: none;
}
input{
  border:none;
  outline: none;
}
img{
  display: block;
}

// 快速浮动
.fl{
  float: left;
}
.fr{
  float: right;
}
//清除浮动
.clearfix::before,
.clearfix::after{
  content: '';
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}

